<h1>Associations#show</h1>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Contacto</th>
			<th>Telefono</th>
            <th>Correo Electronico</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= "#{@empresa.nombre}" %></td>
			<td><%= "#{@empresa.contacto}" %></td>
			<td><%= "#{@empresa.telefono}" %></td>
			<td><%= "#{@empresa.correo_electronico}" %></td>
		</tr>
	</tbody>
</table>
