<div class ="container">
	<div class="row">

		<div class="col-md-2">
			<div class="pull-right"><%= link_to image_tag("UAA.jpg", alt: "logo") %></div>
		</div>

		<div class="col-md-8">
			<div class="banner">SSE</div> 
		</div>

		<div class="col-md-2">
			<div class= "pull-left"><%= link_to image_tag("sisomosunam.jpg", alt: "logo") %></div>
		</div>
    </div>
</div>

