<div class="menus">
    <%= link_to image_tag("inicio.jpg", alt: "logo"), root_path %> 
</div>
<div class="menus">
	 <%= link_to image_tag("iniciosesion.jpg", alt: "logo"), new_user_session_path %>
</div>
<div class="menus">
	<%= link_to image_tag("contacto.jpg", alt: "logo"), home_contacto_path %>
</div>

